<%= content_tag :tr, id: "item-#{item.id}" do %>
  <td class="text-center"><%= item.name %></td> 
  <td class="text-center"><%= item.days_left %></td>
  <td><%= link_to "",[@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>      </td>
<% end %> 

